<input id="_open_menu" type="checkbox" />
<header class="header">
  <a class="header-btn" href="{{ `` | absURL }}">{{ site.Title }}</a>
  <div class="header-spacer"></div>
  <div class="header-btns">
    {{ partial "register.html" }}
    {{ partial "gotoapp.html" }}
  </div>
  <label for="_open_menu" class="open-menu header-btn">Menu</label>
</header>
<nav>
  <ul>
    <li>{{ partial "register.html" }}</li>
    <li>{{ partial "gotoapp.html" }}</li>
    {{ partial "site_menu.html" }}
  </ul>
</nav>
