demos/
landing/config.yaml
landing/public/
ts/settings.application.env
backups/
certs/
deployed/
deploy/images/
errors.log
.hugo_build.lock
.swap/
working/
.env
awaytobin
dist/
node_modules/
build/
ts/src/hooks/api.ts
ts/openapi.yaml
go/pkg/types/
go/pkg/mocks/
java/target/
java/.project
java/.settings
java/.classpath
working/
local_tmp/
*.test
