/* Custom
 -------------------------------------------------- */

body {
  background-color: #121212;
  color: white;
  padding-left: unset;
  padding-right: unset;
}

code {
  white-space: pre-wrap;
}

header {
  background-color: #203040;
  z-index: 10;
  display: flex;
  height: var(--header);
  justify-content: space-between;
}

nav > ul {
  list-style: none;
}

.fixed {
  position: fixed;
  top: 0;
  overflow-y: auto;
  height: 100%;
  margin-top: 8rem;
  z-index: 1;
}

.header-btns {
  display: none;
}

.header-btn {
  user-select: none;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  padding: 3rem;
  margin-right: 2rem;
  font-size: 3rem;
  font-weight: 500;
  text-decoration: none;
  color: #eee;
}

.register-btn{
  background-color: red;
  color: white;
  border-bottom: 2px solid #aaa;
}

.open-menu {
  cursor: pointer;
  color: #eee;
}

input#_open_menu {
  display: none;
}

input#_open_menu ~ nav {
  z-index: 9;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 4rem;
  color: #eee;
  background-color: #000;
  font-size: 4rem;
  top: -100%;
  transition: .15s;
}

input#_open_menu:checked ~ nav {
  top: var(--header);
}

input#_open_menu ~ nav .header-btn,
input#_open_menu ~ nav li + li a {
  padding: 1rem 2rem;
  font-size: 4rem;
  text-decoration: none;
  font-weight: 500;
  display: block;
}

.active-menu {
  text-decoration: underline !important;
}

.sidebar {
  display: none;
  width: var(--side);
  height: 100%;
  padding-bottom: 10rem;
  padding-top: 2rem;
  font-size: 3rem;
}

/* .open-section-menu ul, */
.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin-left: 4rem;
  padding-right: .6rem;
}

.sidebar ul li {
  margin-bottom: 1rem;
}

.sidebar ul li a {
  text-decoration: none;
}

.sidebar hr {
  width: 50%;
  margin: 2.4rem auto;
}

.sidebar a[data-onscreen="true"] {
  font-weight: bold;
  color: rgb(100 150 200);
}

.post-content {
  line-height: 2;
  padding: 1.2rem;
}

.post-content ul {
  margin-left: 2rem;
}

.post-content img {
  background-color: whitesmoke;
}

.post-content h1 a,
.post-content h2 a,
.post-content h3 a,
.post-content h4 a,
.post-content h5 a,
.post-content h6 a {
  font-size: 2rem;
}

/* .post-content p { */
/*   color: #333; */
/* } */

.post-content > * {
  margin: 0 1.6rem;
}
.post-content .highlight,
.post-content pre {
  margin-left: unset;
  margin: unset;
}

@media screen and (min-width: 800px) {
  .header-btns {
    display: flex;
  }
  
  input#_open_menu ~ nav,
  .open-menu {
    display: none;
  }

  .sidebar {
    display: block !important;
  }

  .post-content {
    padding: 0;
    margin-left: var(--side);
    width: calc(100% - var(--side));
  }
  .post-content > * {
    margin-left: 10%;
    margin-right: 30%;
  }
}

/* .open-section-menu { */
/*   position: fixed; */
/*   right: 1rem; */
/*   top: 6rem; */
/* } */
/**/
/* .open-section { */
/*   cursor: pointer; */
/*   font-size: 3rem; */
/*   display: block; */
/* } */
/**/
/* .open-section-menu input { */
/*   display: none; */
/* } */
/**/
/* .open-section-menu input + .open-section + nav { */
/*   display: none; */
/*   overflow: auto; */
/*   height: 100%; */
/*   padding-bottom: 12.5rem !important; */
/* } */
/**/
/* .open-section-menu nav li { */
/*   margin-top: 1rem; */
/*   color: #eee; */
/* } */
/**/
/* .open-section-menu input:checked + .open-section + nav { */
/*   display: block; */
/*   width: 100%; */
/*   position: fixed; */
/*   left: 0; */
/*   padding: 2rem; */
/*   background-color: #111; */
/* } */
/**/
/* @media screen and (min-width: 800px) { */
/*   .open-section-menu { */
/*     display: none; */
/*   } */
/* } */
