#cloud-config
chpasswd:
  expire: false
groups:
  - host-group
  - ssl-certs
users:
  - name: dummyuserlogin
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: [host-group, ssl-certs]
    shell: /bin/bash
  - name: dummyuser
    groups: [host-group, ssl-certs]
    shell: /usr/sbin/nologin
    lock_passwd: true
# install apt-cacher-ng
# get proxy ip from ip addr show
#apt:
#  proxy: "http://10.x.x.1:3142"
#  sources:
#    docker.list:
#      source: "deb [arch=amd64] https://download.docker.com/linux/ubuntu $RELEASE stable"
#      keyid: 9DC858229FC7DD38854AE2D88D81803C0EBFCD88
package_update: true
package_upgrade: true
packages:
  - acl
  - uidmap
  - fail2ban
  - certbot
  - build-essential 
  - ufw
  - jq
  - openjdk-21-jre
  - maven
  - hugo
  - protobuf-compiler
  - docker-ce
  - docker-ce-cli
  - containerd.io
  - docker-compose-plugin
  - docker-ce-rootless-extras
  - docker-buildx-plugin
write_files:
  - path: /etc/ufw/sysctl.conf
    append: true
    content: |
      net/ipv4/ip_forward=1
  - path: /etc/ufw/before.rules
    append: true
    content: |
      *nat
      :PREROUTING ACCEPT [0:0]
      -A PREROUTING -p tcp --dport 80 -j REDIRECT --to-port http-port
      -A PREROUTING -p tcp --dport 443 -j REDIRECT --to-port https-port
      COMMIT
runcmd:
  - groupmod -g 1000 host-group
  - systemctl stop sshd
  - systemctl disable sshd
  - systemctl enable fail2ban
  - ufw default deny incoming
  - ufw default allow outgoing
  - ufw default deny routed
  - ufw allow 80/tcp
  - ufw allow 443/tcp
  - ufw allow http-port/tcp
  - ufw allow https-port/tcp
  - ufw allow 41641/udp
  # - ufw allow 44400:44500/udp
  - ufw enable
  - |
    su -l dummyuserlogin -c 'bash -s' << 'EOF'
    sudo git clone project-repo project-dir
    sudo chown -R dummyuserlogin:host-group project-dir
    sudo install -d -m 750 -o dummyuserlogin -g host-group project-dir/backups project-dir/backups/db project-dir/backups/certs project-dir/working project-dir/local_tmp project-dir/demos project-dir/demos/final
    setfacl -R -d -m g:host-group:rwx project-dir
    curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.40.1/install.sh | bash
    . /home/dummyuserlogin/.nvm/nvm.sh && nvm install node-version && npm i -g pnpm@latest-10
    rm -rf /usr/local/go
    curl -L -o /tmp/goinstall.tar.gz https://go.dev/dl/go-version.tar.gz
    sudo tar -C /usr/local -xzf /tmp/goinstall.tar.gz && rm /tmp/goinstall.tar.gz
    echo "export PATH=/usr/local/go/bin:\$PATH" >> /home/dummyuserlogin/.bashrc
    source /home/dummyuserlogin/.bashrc
    /usr/local/go/bin/go install google.golang.org/protobuf/cmd/protoc-gen-go@latest
    /usr/local/go/bin/go install github.com/google/gnostic/cmd/protoc-gen-openapi@latest
    mkdir -p ~/.config/docker
    echo '{ "storage-driver": "overlay2" }' >> /home/dummyuserlogin/.config/docker/daemon.json
    /usr/bin/dockerd-rootless-setuptool.sh install
    systemctl --user enable docker
    echo "clear && cd project-dir" >> /home/dummyuserlogin/.bashrc
    EOF
  - loginctl enable-linger dummyuserlogin
  - curl -fsSL https://tailscale.com/install.sh | sh
  - tailscale up --operator=dummyuserlogin --authkey=ts-auth-key --ssh
  - usermod -s /usr/sbin/nologin root

