[Unit]
Description=Awayto Version 3
After=network.target

[Service]
EnvironmentFile=etc-dir/.env
ExecStart=/usr/local/bin/start.sh
Restart=on-failure
User=host-operator
Group=host-operator
WorkingDirectory=work-dir
UMask=0027

[Install]
WantedBy=multi-user.target
