services:

  db: # db_socket postgres
    image: ${DB_IMAGE}
    networks:
      - intnet
    build:
      context: ../../../
      dockerfile: ./deploy/scripts/docker/db_Dockerfile
    environment:
      - POSTGRES_PASSWORD_FILE=/etc/secrets/pg_pass
      - PG_DB=${PG_DB}
      - PG_WORKER=${PG_WORKER}
      - PG_WORKER_PASS_FILE=/etc/secrets/pg_worker_pass
      - POSTGRES_INITDB_ARGS="--data-checksums"
    volumes: 
      - ../../../${UNIX_SOCK_DIR}/db:/tmp/db_socket
      - ../../../secrets/pg_pass:/etc/secrets/pg_pass
      - ../../../secrets/pg_worker_pass:/etc/secrets/pg_worker_pass
      - pg_data:/var/lib/postgresql/data

  redis: # 6379 redis
    image: ${REDIS_IMAGE}
    networks:
      - intnet
    environment:
      - REDIS_PASSWORD_FILE=/run/secrets/redis_pass
    command:
      - /bin/sh
      - -c
      - redis-server --requirepass "$$(cat /run/secrets/redis_pass)"
    secrets:
      - redis_pass
    volumes:
      - redis_data:/data

  docs: # 8000 gotenberg
    image: gotenberg/gotenberg:8
    networks:
      - intnet
    command:
      - "gotenberg"
      - "--api-port=8000"

  auth: # 8080/8443 keycloak
    image: ${AUTH_IMAGE}
    depends_on:
      - db
    networks:
      - intnet
    build:
      context: ../../../
      dockerfile: ./deploy/scripts/docker/auth_Dockerfile
    environment:
      - KC_UNIX_SOCK_DIR=/unix_sock
      - KC_UNIX_SOCK_LOC=${UNIX_AUTH_SOCK_FILE}
      - KC_PROXY_HEADERS=xforwarded
      - KC_HTTP_ENABLED=true
      - KC_HOSTNAME_STRICT=false
      - KC_HOSTNAME_BACKCHANNEL_DYNAMIC=false
      - KC_BOOTSTRAP_ADMIN_USERNAME=${KC_ADMIN}
      - KC_BOOTSTRAP_ADMIN_PASSWORD_FILE=/tmp/kc_pass
      - KC_DB_URL=jdbc:postgresql:///keycloak?socketFactory=org.newsclub.net.unix.AFUNIXSocketFactory$$FactoryArg&socketFactoryArg=/unix_sock/db/.s.PGSQL.5432
      - KC_DB_USERNAME=${PG_WORKER}
      - KC_DB_PASSWORD_FILE=/tmp/pg_worker_pass
    volumes:
      - ../../../secrets/kc_pass:/tmp/kc_pass
      - ../../../secrets/pg_worker_pass:/tmp/pg_worker_pass
      - ../../../${UNIX_SOCK_DIR}:/unix_sock

  exitnode:
    build:
      context: ./
      dockerfile: ./exit_Dockerfile
    restart: always
    ports:
      - 6379:6379
      - 8000:8000
      - 8080:8080
      - 8443:8443
    networks:
      - intnet
      - extnet

  # turn:
  #   image: ${TURN_IMAGE}
  #   build:
  #     context: ./
  #     dockerfile: ./turn_Dockerfile
  #   restart: always
  #   volumes:
  #     - ./deploy/scripts/turn/turnserver.confg:/etc/coturn/turnserver.conf:ro

secrets:
  kc_pass:
    file: ../../../secrets/kc_pass
  pg_pass:
    file: ../../../secrets/pg_pass
  pg_worker_pass:
    file: ../../../secrets/pg_worker_pass
  redis_pass:
    file: ../../../secrets/redis_pass

networks:
  intnet:
    internal: true
  extnet:
    driver: bridge

volumes:
  pg_data:
    name: ${PG_DATA}
    external: true
  redis_data:
    name: ${REDIS_DATA}
    external: true
